@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  text-decoration: none;
}

button a {
  text-decoration: none;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}

.header {
  background-color: #424141;
  height: 80px;
}
.header .nav {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center !important;
}
.header .nav .title ul {
  display: flex;
}
.header .nav .title ul a {
  margin-right: 20px;
  font-size: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.header .nav .logo img {
  width: calc(50% - 100px);
}

.hero {
  height: 930px;
  background-color: #1A1A1A;
}
.hero .Conten_body {
  margin-top: 400px;
  display: flex;
}
.hero .title {
  width: 50%;
}
.hero .title h1 {
  color: #ffffff;
  font-size: 60px;
}
.hero .title p {
  color: #ffffff;
  margin-top: 20px;
}
.hero .title button {
  width: 150px;
  background-color: #ff0000;
  color: #ffffff;
  height: 50px;
}
.hero .img {
  margin-top: -100px;
  width: 50%;
  display: flex;
  justify-content: end;
}
.hero .img img {
  width: calc(100% - 100px);
}

.hero_1 {
  height: 800px;
  background-color: #fff;
}
.hero_1 .mini_title {
  font-size: 60px;
}
.hero_1 .Conten_body {
  margin-top: 200px;
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
}
.hero_1 .img {
  margin-top: -40px;
  display: flex;
  justify-content: start;
}
.hero_1 .img img {
  width: 500px;
}
.hero_1 .title {
  width: 40%;
}
.hero_1 .title h1 {
  color: #000;
  font-size: 50px;
}
.hero_1 .title p {
  color: #000;
  font-size: 20px;
}

.Service {
  background-color: #1A1A1A;
  height: 600px;
}
.Service .mini_title {
  font-size: 60px;
  color: #ffffff;
  padding-top: 20px;
}
.Service .box_conten {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Service .box_conten .cad_1 {
  width: 280px;
  height: 380px;
  padding: 20px;
  box-shadow: 4px 2px 105px gray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
}
.Service .box_conten .cad_1 h2 {
  color: #ffffff;
}
.Service .box_conten .cad_1 p {
  color: #ffffff;
}
.Service .box_conten .cad_1 .box-btn {
  background-color: #323232;
  border-radius: 3px;
  border: none;
  color: white;
  width: 150px;
  height: 50px;
  padding: 13px 20px;
  outline: none;
}
.Service .box_conten .cad_1 .img img {
  width: calc(50% - 30px);
}

footer {
  background-color: #030303;
  height: 600px;
  border-bottom: 1px solid gray;
}
footer .hot_conten {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 200px;
}
footer .hot_conten .title img {
  width: calc(50% - 50px);
}
footer .hot_conten .title p {
  color: #ffffff;
  margin-top: 20px;
}
footer .hot_conten .title h3 {
  color: #ffffff;
}
footer .hot_conten .title ul {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
footer .hot_conten .title ul li a {
  line-height: 30px;
  color: #ffffff;
}

.Copyright {
  background-color: #030303;
  height: 100px;
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
}/*# sourceMappingURL=style.css.map */